* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.6rem;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background: #22a7f0;
  border-radius: 0.3rem;
  cursor: pointer;
}
body {
  font-family: "Karla", sans-serif;
}
nav {
  height: 4rem;
  color: #242b2e;
  font-size: 1.5rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background: #fff;
  border-bottom: 1px solid #00000007;
}
@supports (backdrop-filter: blur(25px)) {
  nav {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
  }
}
.link-go-btn {
  font-weight: 500;
}
.no-a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}
.go-a {
  text-decoration: none;
  color: #22a7f0;
}
.block {
  display: block;
}
.no-a:hover {
  color: #22a7f0;
}
.main-link {
  text-transform: capitalize;
}
.nav-links {
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  background: #fff;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: heyy 0.4s ease-in-out;
  font-weight: 500;
  display: none;
}
@keyframes heyy {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-logo {
  font-weight: 600;
  cursor: pointer;
}
.mobile-toggle {
  border: none;
  background: none;
  height: 2rem;
  aspect-ratio: 1;
  position: relative;
  z-index: 999;
  cursor: pointer;
}
.line {
  width: 2rem;
  height: 0.3rem;
  background: #242b2e;
  border-radius: 0.15rem;
  transition: all 0.3s ease;
  position: absolute;
}
.l1 {
  top: 0.4rem;
}
.l2 {
  bottom: 0.4rem;
  width: 60%;
  right: 0;
}
.l1-click {
  top: 0.7rem;
  transform: rotate(-45deg);
}
.l2-click {
  bottom: 0.7rem;
  transform: rotate(45deg);
  width: 100%;
}
.no-display {
  display: none;
}
.display-nav {
  display: flex;
}

.f500 {
  font-weight: 500;
}
.f1-5 {
  font-size: 1.5rem;
}
.f3-600 {
  font-size: 3rem;
}
.m1 {
  margin: 1rem;
}
.p2 {
  padding: 2rem;
}
.home-page-link {
  background-color: #22a7f0;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.home-page-link:hover {
  color: #ffffff;
  filter: saturate(150%);
}
.f-c-c-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.t-c {
  text-align: center;
}
.colorBoxSet,
.gradientBoxSet {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.colorBox,
.gradientBox {
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 1.5rem;
}
.colorBox {
  width: 44%;
  margin: 3%;
  padding: 5rem 0;
}
.gradientBox {
  width: 90%;
  margin: 2% 5%;
  padding: 5rem 0;
}
.colorBox:hover,
.gradientBox:hover {
  transform: scale(0.95);
}
.mtb-3 {
  margin: 3rem 0;
}
.download-btn {
  background: #22a7f0;
  color: #fff;
  cursor: pointer;
  min-width: 18rem;
  padding: 0.6rem 2rem;
  font-size: 1.6rem;
  margin: 0.8rem;
  border-radius: 1.6rem;
  border: none;

  transition: 0.3s ease;
}
.download-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #f0f0f0;
  filter: saturate(120%);
}
@media only screen and (min-width: 600px) {
  .colorBox {
    width: 12rem;
    padding: 6rem 0;
    margin: 0.4rem;
  }
  .gradientBox {
    width: 22rem;
    padding: 6rem 0;
    margin: 0.6rem;
  }
}
@media only screen and (min-width: 800px) {
  .mobile-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    position: inherit;
    width: inherit;
    gap: 2rem;
    height: inherit;
    background: transparent;
    animation: none;
  }
}
@media only screen and (max-width: 500px) {
  .home-page-link {
    width: 90%;
    margin: 5%;
    text-align: center;
  }
}
